@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  font-family: "Roboto", sans-serif;
}

.App {
  width: 85vw;
  max-width: 1000px;
}

h1 {
  padding-bottom: 25px;
  text-align: center;
}

.money-div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 25px;
}

.view-budget,
.edit-budget,
.remaining,
.spend {
  flex: 1;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.edit-budget {
  display: flex;
  justify-content: space-between;
  background-color: #e1e1e1;
}

.edit-budget input {
  font-size: 18px;
  width: 70%;
  max-width: 200px;
  padding: 7px 10px;
  border-radius: 5px;
  outline: none;
}

.view-budget {
  display: flex;
  justify-content: space-between;
  background-color: #e1e1e1;
}

.edit,
.save {
  padding: 7px 10px;
  background-color: #0d6efd;
  color: #fff;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.remaining {
  background-color: rgb(148, 238, 204);
  color: rgb(2, 104, 67);
}

.spend {
  background-color: rgb(182, 184, 214);
  color: rgb(58, 67, 189);
}

h2 {
  font-size: 30px;
  padding-bottom: 20px;
}

.expense-div input {
  width: 100%;
  margin-bottom: 25px;
  font-size: 18px;
  padding: 10px 15px;
  outline: none;
  border-radius: 5px;
}

.expense-list {
  display: flex;
  flex-direction: column-reverse;
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border: 1px solid #e1e1e1;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
}

.expense-item .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.expense-item .right p {
  background-color: #0d6efd;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
}

.expense-item .right i {
  font-size: 20px;
  cursor: pointer;
}

.inputs {
  display: flex;
  gap: 2rem;
  padding-bottom: 20px;
}

.input-div {
  display: flex;
  flex-direction: column;
}

.input-div label {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
}

.input-div input {
  font-size: 18px;
  padding: 7px 10px;
  min-width: 300px;
  outline: none;
}

@media (max-width: 900px) {
  .App {
    width: 95vw;
  }

  .money-div {
    gap: 10px;
    padding-bottom: 30px;
  }

  .input-div input {
    border: 1px solid #a8a7a7;
  }

  .expense-div input {
    margin-bottom: 40px;
  }

  .expense-list {
    max-height: 300px;
    margin-bottom: 40px;
  }

  .view-budget,
  .edit-budget {
    flex: 4;
  }

  .remaining,
  .spend {
    flex: 3;
  }
}

@media (max-width: 500px) {
  .money-div,
  .Addexpense,
  .inputs {
    display: flex;
    flex-direction: column;
  }

  .view-budget,
  .edit-budget,
  .remaining,
  .spend {
    width: 100%;
  }

  .Addexpense {
    margin-bottom: 10px;
  }

  .expense-item {
    display: flex;
    font-size: 16px;
    gap: 5px;
    padding: 10px 5px;
  }

  .expense-text {
    flex: 6;
    word-break: break-all;
  }

  .expense-item .right {
    flex: 4;
    gap: 5px;
  }
}
